/* ========= About geral =========*/

.about {
  position: relative;
  width: 1450px;
  max-width: 95%;
  text-align: center;
  color: #ffffff;
  background-color: #1d1c1c;
  padding: 185px 70px 20px 70px;
  font-family: "Arial";
  margin: 0 auto;
  border-radius: 20px;
  bottom: 85px;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.356);
}

.change-btn:hover {
  background-color: #b1b1b1;
  color: var(--white);
}

.skills,
.results,
.resume {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 25px 0;
  display: none;
  transition: 0.2s ease-out;
  padding: 0 10px;
}

.skills {
  padding-bottom: 25px;
}

.soft-skills,
.hard-skills {
  width: 100%;
  margin-top: 25px;
}

.hard-skills h3,
.soft-skills h3 {
  position: relative;
  width: max-content;
  font-size: 2rem !important;
  color: #969696;
  margin-right: auto;
}

.soft-skills-wrapper,
.hard-skills-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 20px;
}

.all-skills {
  width: 100%;
  display: flex;
  gap: 50px;
}

.optionOn {
  display: grid;
}

.about span {
  color: var(--blue);
}

.about-decoration {
  position: relative;
  width: 150px;
  height: 9px;
  background-color: var(--blue);
  margin: 15px auto 25px auto;
  border-radius: 8px;
}

.about h2 {
  position: relative;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.about h2::after,
.about h2::before {
  position: relative;
  content: "";
  width: 30%;
  height: 1px;
  background-color: #494949;
}

.about p:not(.about .extra-details p, .change-buttons p, .resume p) {
  margin: 20px 0;
  font-size: 1.1rem;
}

.about-panel {
  position: relative;
  height: 350px;
  overflow: auto;
  padding: 0 10px;
}

.extra-details {
  width: calc(1850px / 1.5);
  max-width: 100%;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border-top: 1px solid #494949;
  padding: 25px 10px;
  margin-top: 25px;
}

.extra-details p {
  color: #777777;
}

.about-panel::-webkit-scrollbar {
  width: 3px;
  background: #0000001c;
  transform: translateX(-130px);
}

.about-panel::-webkit-scrollbar-track {
  background: #0000001c;
}

.about-panel::-webkit-scrollbar-thumb {
  background: #00f7ff;
  border-radius: 5px;
}

/* ========= Resumo ========= */

.resume p {
  font-size: 1.25rem !important;
  font-family: "Arial Light";
  text-align: center;
  line-height: 28px;
}

/* ========= Resultado ========= */
.results {
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  gap: 8px 25px;
}

.results p {
  width: 100%;
  text-align: center;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: "Arial Light";
  border-radius: 5px;
}

.results .dark {
  background-color: #242424;
}

.results .blue {
  background-color: #50dcff;
  color: #242424;
}

/* ========= Skills ========= */

.skill {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  min-height: 70px;
  background-color: #676767;
  font-size: 1.2rem;
  border-radius: 5px;
  box-shadow: 10px 5px 10px 0 rgba(0, 0, 0, 0.356);
  padding: 0 10px;
}

.change-buttons {
  position: relative;
  top: 40px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
}

.change-btn {
  width: 120px;
  max-width: 100%;
  background-color: #616161;
  padding: 15px 10px;
  cursor: pointer;
  color: #a1a1a1;
  transition: 0.2s;
  border-radius: 5px;
}

.change-btn.activated {
  background-color: var(--blue);
  color: var(--white);
}

.change-btn p {
  margin: 0;
}

@media screen and (max-width: 1492px) {
  .results {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 890px) {
  .all-skills {
    display: block;
    text-align: center;
  }

  .hard-skills {
    margin-top: 55px;
  }

  .hard-skills h3,
  .soft-skills h3 {
    width: 100%;
  }

  .about h2::after,
  .about h2::before {
    display: none;
  }

  .about h2 {
    justify-content: center;
  }
}

@media screen and (max-width: 750px) {
  .about {
    padding: 185px 0 20px 0;
  }

  .resume p {
    font-size: 0.9rem !important;
  }
}

@media screen and (max-width: 470px) {
  .change-buttons {
    display: block;
  }

  .change-btn {
    width: 100%;
    margin-bottom: 10px;
  }

  .soft-skills-wrapper,
  .hard-skills-wrapper {
    display: block;
  }

  .skill {
    margin-bottom: 20px;
  }

  .extra-details {
    font-size: 0.8rem;
  }
}
