.contact {
  width: 1920px;
  max-width: 100%;
  position: relative;
  margin: 0 auto;
  height: 550px;
  margin-bottom: 50px;
}

.contact-banner {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
}

.contact img {
  height: 550px;
  object-fit: cover;
}

.get-in-touch {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue);
  font-family: "Saira Condensed regular";
}

.get-in-touch-text {
  width: 650px;
  max-width: 90%;
  color: #272727;
}

.get-in-touch-text h2 {
  font-size: 3rem;
  font-family: "Saira Condensed semiBold";
  margin-bottom: 35px;
}

.get-in-touch-text p {
  font-size: 1.5rem;
}

.contact-forms {
  width: 99%;
  position: relative;
  bottom: 0;
  left: 1%;
  transform: translateY(-50px);
  display: flex;
  align-items: center;
  justify-content: start;
  z-index: 26;
  gap: 20px;
  padding-right: 25px;
  padding-bottom: 30px;
}

.contact-forms .form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  gap: 25px;
  background-color: var(--backgroundColor);
  padding: 65px 100px;
  width: max-content;
  max-width: 100%;
  font-size: 1.6rem;
  color: var(--white);
  border-right: 10px solid var(--blue);
  box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.199);
  border-radius: 7px;
}

.contact-forms .form img {
  width: 50px;
  height: auto;
}

@media screen and (max-width: 1500px) {
  .contact-forms {
    flex-wrap: wrap;
    padding-right: 0;
    left: .5%;
  }

  .contact-forms .form {
    width: 100%;
  }

  .contact {
    height: unset;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 950px) {
  .contact {
    position: relative;
    margin-bottom: unset;
    height: unset;
  }

  .contact-banner {
    display: block;
  }

  .contact-banner img {
    display: none;
  }

  .get-in-touch {
    padding: 100px 0;
  }
}

@media screen and (max-width: 836px) {
  .contact-forms .form {
    width: 95%;
    padding: 65px 15px;
    font-size: 1.3rem;
  }

  .contact-forms {
    justify-content: center;
  }
}

@media screen and (max-width: 430px) {
  .contact-forms .form {
    font-size: 1rem;
  }

  .contact-forms .form img {
    width: 40px;
    height: auto;
  }
}
