.contact {
  position: relative;
  margin-bottom: 150px;
  height: 550px;
}

.contact-banner {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
}

.contact img {
  height: 550px;
  object-fit: cover;
}

.get-in-touch {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue);
  font-family: "Saira Condensed regular";
}

.get-in-touch-text {
  width: 650px;
  max-width: 90%;
  color: #272727;
}

.get-in-touch-text h2 {
  font-size: 3rem;
  font-family: "Saira Condensed semiBold";
  margin-bottom: 35px;
}

.get-in-touch-text p {
  font-size: 1.5rem;
}

.contact-forms {
  position: absolute;
  bottom: 0;
  left: 1%;
  transform: translateY(80px);
  display: flex;
  align-items: center;
  justify-content: start;
  z-index: 26;
  gap: 20px;
}

.contact-forms .form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 25px;
  background-color: var(--backgroundColor);
  padding: 65px 100px;
  width: max-content;
  max-width: 100%;
  font-size: 1.6rem;
  color: var(--white);
  border-right: 10px solid var(--blue);
  box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.199);
  border-radius: 7px;
}

.contact-forms .form img {
  width: 50px;
  height: auto;
}
