.infos-exp {
  display: flex;
  flex-direction: column;
  gap: 7px;
  font-family: "lato-semibold";
}

.experiencias .section-titulo {
  color: #ffffff;
}

.experiencias-box {
  position: relative;
  width: 100%;
  font-family: "lato-regular";
  color: #ffffff;
}

.lista-experiencias {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 150px;
}

.experiencia {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 0.01fr 0.93fr;
  gap: 30px;
  padding-bottom: 120px;
}

.dados-experiencia {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 40px;
}

.experiencia::before {
  content: "";
  display: block;
  position: relative;
  width: 180px;
  height: 2px;
  top: 30px;
  right: 30px;
  background: #3e8ca0;
  z-index: 2;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 var(--blue2);
}

.experiencia::after {
  content: "";
  display: block;
  position: absolute;
  transform: translateX(calc(3% * 1000));
  width: 2px;
  height: 100%;
  background: #333333;
  border-radius: 5px;
}

.experiencia:first-child::before {
  background: var(--blue);
  box-shadow: 0 0 20px 3px var(--blue2);
}

.cargo {
  font-size: 2.5rem;
  font-family: "Saira Condensed bold";
}

.empresa {
  font-size: 1.7rem;
  color: #a1a1a1;
  font-family: "Saira Condensed light";
}

.descritivo ul {
  position: relative;
  list-style-type: disc;
  list-style-position: outside;
  list-style-image: url(../assets/images/list-circle.png);
  font-size: 1.3rem;
}

.descritivo li {
  color: #bebebe;
  padding-left: 13px;
  margin-left: 25px;
  margin-bottom: 8px;
}

@media screen and (max-width: 1050px) {
  .lista-experiencias {
    margin-top: 50px;
  }
}

@media screen and (max-width: 800px) {
  .experiencia {
    display: block;
  }

  .experiencia::before {
    top: 0;
    right: 0;
    width: 100%;
    margin-bottom: 25px;
  }

  .experiencia::after {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .descritivo ul {
    font-size: 1rem;
  }

  .descritivo li {
    padding-left: 0;
  }

  .cargo {
    font-size: 1.8rem;
  }

  .empresa {
    font-size: 1.3rem;
  }
}
