footer {
  position: relative;
  width: 100%;
  padding: 20px 5px;
  background-color: #2b2b2b;
  color: var(--white);
  font-family: "Saira Condensed light";
  text-align: center;
  font-size: 1.1rem;
  z-index: 33;
}

footer span a {
  font-size: 1.5rem;
  font-family: "Saira Condensed bold";
  color: var(--blue);
  cursor: pointer;
}
