:root {
  --backgroundColor: #141414;
  --headerBg: #7373733a;
  --blue: #34d6ff;
  --blue2: #1dafd8;
  --blue3: #50dcff;
  --dark1: #1e1e1e;
  --dark2: #1d1c1c;
  --dark3: #171717;
  --dark4: #242424;
  --white: #ffffff;
  --gray1: #616161;
  --gray2: #2b2b2b;
  --gray3: #353535;
}

@font-face {
  font-family: "Arial Bold";
  src: url(../assets/fonts/Arial-BD.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Arial Light";
  src: url(../assets/fonts/Arial-lgt.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Arial";
  src: url(../assets/fonts/Arial.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Stencil One";
  src: url(../assets/fonts/Saira_Stencil_One/SairaStencilOne-Regular.ttf);
  font-display: swap;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Arial";
}

body {
  background-color: var(--backgroundColor);
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

ul,
a {
  list-style-type: none;
}

img {
  width: 100%;
  height: 100%;
}

.banner-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../../assets/images/banner-bg.webp);
  background-size: cover;
  background-position: center;
}

.active {
  color: var(--blue) !important;
  transition: 0.3s;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    #141414e8,
    #141414cb,
    #141414db,
    var(--backgroundColor)
  );
  z-index: 2;
}

.projects-home .overlay {
  background: linear-gradient(
    180deg,
    var(--backgroundColor),
    #141414e8,
    #141414cb,
    #141414db,
    var(--backgroundColor)
  );
}

.page-banner .overlay:not(.page-banner.volunteer-banner .overlay) {
  background: linear-gradient(
    180deg,
    var(--backgroundColor),
    #141414e8,
    #121212,
    var(--backgroundColor)
  );
}

.center {
  width: 1250px;
  max-width: 90%;
  margin: 0 auto;
}

.page-banner {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  align-items: start;
  justify-content: space-between;
}

.page-banner.project-banner {
  background-image: url(../assets/images/projectpage-1.webp);
}

.page-banner.experience-banner {
  background-image: url(../assets/images/experiencias-bg.jpg);
  height: 1300px;
  max-width: 100%;
}

.page-banner.volunteer-banner {
  background-image: url(../assets/images/voluntario-bg.jpg);
  height: 100vh;
  min-height: 1300px;
  max-width: 100%;
  justify-content: start;
}

.page-banner.volunteer-banner footer {
  margin-top: auto;
}

.title-page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  width: 600px;
  max-width: 80%;
  z-index: 32;
  color: var(--blue);
  font-size: 1.8rem;
  margin-top: 200px;
}

.title-line {
  width: 100%;
  height: 5px;
  box-shadow: 15px 6px 2px 0 #00000041;
  background-color: #636363;
  transform-origin: left;
}

.title-page h2 {
  margin-right: 70px;
  margin-bottom: 20px;
  align-self: flex-end;
}

@media screen and (max-width: 450px) {
  .title-page {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 1050px) {
  .title-page {
    width: 90%;
    align-items: center;
    justify-content: center;
    max-width: unset;
    margin: 100px auto 0 auto;
    text-align: center;
  }

  .title-page h2 {
    margin-right: unset;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1920px) {
  .title-page {
    width: calc(35% * 1.1);
  }
}
