:root {
  --backgroundColor: #141414;
  --headerBg: #7373733a;
  --blue: #34d6ff;
  --blue2: #1dafd8;
  --blue3: #50dcff;
  --dark1: #1e1e1e;
  --dark2: #1d1c1c;
  --dark3: #171717;
  --dark4: #242424;
  --white: #ffffff;
  --gray1: #616161;
  --gray2: #2b2b2b;
  --gray3: #353535;
}

@font-face {
  font-family: "Saira Condensed extraBold";
  src: url(../assets/fonts/Saira_Condensed/SairaCondensed-ExtraBold.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Saira Condensed Bold";
  src: url(../assets/fonts/Saira_Condensed/SairaCondensed-Bold.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Saira Condensed light";
  src: url(../assets/fonts/Saira_Condensed/SairaCondensed-Light.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Saira Condensed regular";
  src: url(../assets/fonts/Saira_Condensed/SairaCondensed-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Saira Condensed semiBold";
  src: url(../assets/fonts/Saira_Condensed/SairaCondensed-SemiBold.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Stencil One";
  src: url(../assets/fonts/Saira_Stencil_One/SairaStencilOne-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Saira";
  src: url(../assets/fonts/Saira/Saira.ttf);
  font-display: swap;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Saira Condensed regular";
}

body {
  background-color: var(--backgroundColor);
  width: 100%;
  height: 100vh;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    var(--backgroundColor),
    #141414e8,
    #141414cb,
    #141414db,
    var(--backgroundColor)
  );
  z-index: 2;
}

.page-banner .overlay {
  background: linear-gradient(
    180deg,
    var(--backgroundColor),
    #141414e8,
    #1d1d1d,
    var(--backgroundColor)
  );
}

.center {
  width: 1450px;
  max-width: 90%;
  margin: 0 auto;
}

.page-banner {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  top: -170px;
  background-size: cover;
  background-position: center;
  align-items: start;
  justify-content: start;
}

.page-banner.project-banner {
  background-image: url(../assets/images/projectpage-1.webp);
}

.page-banner.experience-banner {
  background-image: url(../assets/images/experiencias-bg.jpg);
  height: 1300px;
  max-width: 100%;
}

.title-page {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  width: 600px;
  max-width: 80%;
  z-index: 27;
  color: var(--blue);
  font-size: 1.8rem;
  margin-top: 200px;
}

.title-line {
  width: 100%;
  height: 5px;
  box-shadow: 15px 6px 2px 0 #00000041;
  background-color: #636363;
}

.title-page h2 {
  margin-right: 70px;
  margin-bottom: 20px;
}
