.header {
  position: sticky;
  margin: 0 auto 80px auto;
  top: 3%;
  width: 1650px;
  max-width: 95%;
  height: 90px;
  background-color: var(--headerBg);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 55px;
  border-radius: 5px;
  z-index: 999;
}

.header nav ul {
  display: flex;
  gap: 35px;
  justify-content: start;
  align-items: center;
}

.header nav ul a {
  color: var(--white);
  font-size: 1.2rem;
}

.header-extras,
.languages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.languages img {
  width: 50px;
  max-width: 100%;
  cursor: pointer;
}

.header-extras {
  flex-direction: row-reverse;
  height: 100%;
  color: var(--white);
}

.L {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  max-width: 100%;
  height: 100%;
  background-color: var(--blue);
  font-size: 4rem;
  border-radius: 0 5px 5px 0;
}

.L p {
  text-shadow: 1px 1px 5px #00000041;
  font-family: "Stencil one";
}

.btn-button-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 55px;
  width: 100%;
  background-color: var(--backgroundColor);
  cursor: pointer;
  display: none;
  box-shadow: 0 5px 10px 0 #00000059;
}

.line {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 3px;
  background-color: var(--blue);
  transition: 0.5s;
}

@media screen and (max-width: 1050px) {
  .header {
    position: fixed;
    left: 0;
    top: 0;
    transform: unset;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: 100vh;
    width: 0;
    max-width: unset;
    padding: 54px 25px 0 25px;
    overflow: hidden;
    opacity: 0;
    z-index: 0;
    transition: 0.5s;
  }

  .banner {
    padding-top: 150px;
  }

  .header-extras {
    flex-direction: column;
    margin-bottom: 50px;
    gap: 35px;
  }

  .L {
    height: unset;
    border-radius: 0 0 5px 5px;
  }

  .header-extras,
  .languages {
    justify-content: start;
    align-items: start;
    height: unset;
  }

  .header nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 35px;
  }

  .btn-button-header {
    display: block;
  }

  .btn-button-header.show ~ .header {
    width: 100%;
    z-index: 999;
    opacity: 1;
    transition: 0.3s;
  }

  .btn-menu {
    position: relative;
    width: 35px;
    height: 100%;
    gap: 10px;
    margin: 0 auto;
  }

  .btn-button-header.show .btn-menu {
    gap: 0;
  }

  .line1 {
    top: 15px;
  }

  .line2 {
    top: 25px;
  }

  .line3 {
    top: 35px;
  }

  .btn-button-header.show .line1 {
    transform: rotate(45deg);
    top: 25px;
  }

  .btn-button-header.show .line2 {
    transform: translateX(3000%);
  }

  .btn-button-header.show .line3 {
    transform: rotate(-45deg);
    top: 27px;
  }
}
