.header {
  position: fixed;
  margin: 0 auto 80px auto;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
  width: 1250px;
  max-width: 95%;
  height: 90px;
  background-color: var(--headerBg);
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 55px;
  border-radius: 5px;
  z-index: 999;
}

.header nav ul {
  display: flex;
  gap: 35px;
  justify-content: start;
  align-items: center;
}

.header li {
  position: relative;
}

.header nav ul a {
  position: relative;
  color: var(--white);
  font-size: 1.2rem;
  text-decoration: none;
  transition: 0.2s;
}

.header nav ul a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 3%;
  width: 0;
  padding: 1px 0;
  background-color: var(--blue);
  color: #d8d8d8;
  transform: translateY(100%);
  transition: .2s;
  transform-origin: center;
}

.header nav ul a:hover::after {
  width: 100%;
}

.header-extras,
.languages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.languages img {
  width: 50px;
  max-width: 100%;
  cursor: pointer;
}

.header-extras {
  flex-direction: row-reverse;
  height: 100%;
  color: var(--white);
}

.L {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  max-width: 100%;
  height: 100%;
  background-color: var(--blue);
  font-size: 4rem;
  border-radius: 0 5px 5px 0;
  color: var(--white);
  transition: 0.2s;
}

.L:hover {
  background-color: var(--blue2);
}

.L p {
  text-shadow: 1px 1px 5px #00000041;
  font-family: "Stencil one";
}

.btn-button-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 55px;
  width: 100%;
  background-color: var(--backgroundColor);
  cursor: pointer;
  display: none;
  box-shadow: 0 5px 10px 0 #00000059;
}

.line {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 3px;
  background-color: var(--blue);
  transition: 0.5s;
}

@media screen and (max-width: 1050px) {
  .header {
    position: fixed;
    left: 0;
    top: 0;
    transform: unset;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: 100vh;
    width: 100%;
    max-width: unset;
    padding: 54px 25px 0 25px;
    overflow: hidden;
    z-index: 0;
    transition: 0.5s ease-out;
    opacity: 0;
    transform: translateX(-130%);
  }

  .banner {
    padding-top: 150px;
  }

  .header-extras {
    width: 100%;
    flex-direction: row;
    margin-bottom: 55px;
    gap: 35px;
    align-items: center;
    height: unset;
  }

  .L {
    height: unset;
    border-radius: 0 0 5px 5px;
    width: 100px;
    min-width: 100px;
  }

  .languages {
    justify-content: start;
    align-items: start;
    height: unset;
    opacity: 0;
  }

  .header nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 35px;
  }

  .btn-button-header {
    display: block;
  }

  .btn-button-header.show ~ .header {
    width: 100%;
    z-index: 999;
    opacity: 1;
    transform: translateX(0);
  }

  .btn-menu {
    position: relative;
    width: 35px;
    height: 100%;
    gap: 10px;
    margin: 0 auto;
  }

  .btn-button-header.show .btn-menu {
    gap: 0;
  }

  .line1 {
    top: 15px;
  }

  .line2 {
    top: 25px;
  }

  .line3 {
    top: 35px;
  }

  .btn-button-header.show .line1 {
    transform: rotate(45deg);
    top: 26px;
  }

  .btn-button-header.show .line2 {
    transform: translateX(300%);
    opacity: 0;
  }

  .btn-button-header.show .line3 {
    transform: rotate(-45deg);
    top: 27px;
  }

  .header ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  .header ul li::before {
    content: "";
    display: block;
    width: 25px;
    height: 5px;
    background-color: var(--blue);
  }

  .header nav {
    width: 100%;
    border-top: 1px solid rgb(199 199 199);
    padding-top: 50px;
  }

  .languages img {
    width: 50px;
  }
}
