.header {
  position: sticky;
  margin: 0 auto 80px auto;
  top: 3%;
  width: 1650px;
  max-width: 95%;
  height: 90px;
  background-color: var(--headerBg);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 55px;
  border-radius: 5px;
  z-index: 999;
}

.header nav ul {
  display: flex;
  gap: 35px;
  justify-content: start;
  align-items: center;
}

.header nav ul a {
  color: var(--white);
  font-size: 1.2rem;
}

.header-extras,
.languages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.languages img {
  width: 50px;
  max-width: 100%;
  cursor: pointer;
}

.header-extras {
  flex-direction: row-reverse;
  height: 100%;
  color: var(--white);
}

.L {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  max-width: 100%;
  height: 100%;
  background-color: var(--blue);
  font-size: 4rem;
  border-radius: 0 5px 5px 0;
}

.L p {
  text-shadow: 1px 1px 5px #00000041;
  font-family: "Stencil one";
}

@media screen and (max-width: 1050px) {
  .header {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: 100vh;
    width: 100%;
    max-width: unset;
    padding: 0 25px 0 25px;
  }

  .banner {
    padding-top: 150px;
  }

  .header-extras {
    flex-direction: column;
    margin-bottom: 50px;
    gap: 35px;
  }

  .L {
    height: unset;
    border-radius: 0 0 5px 5px;
  }

  .header-extras,
  .languages {
    justify-content: start;
    align-items: start;
    height: unset;
  }

  .header nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 35px;
  }
}
