.highlights {
  width: 1500px;
  max-width: 95%;
  height: 300px;
  margin: 10rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark3);
  border-radius: 10px;
  box-shadow: inset 0 0 20px 0 black;
}

.highlights .center {
  width: 100;
  height: 100%;
}

.highlights ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  align-items: center;
  justify-content: start;
  height: 100%;
  width: 100%;
}

.highlights li {
  text-align: center;
  color: var(--white);
  font-size: 1.5rem;
  box-shadow: 1px 0 0 0 var(--blue);
  height: 80%;
}

.highlights li:last-child {
  box-shadow: none;
}

.highlights .wrapper-text-highlight {
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 55px;
}

.number-highlight {
  color: var(--blue);
  font-size: 2.5rem;
  margin-top: 15px;
}

.number-highlight span {
  margin: 0 3px;
}

@media screen and (max-width: 1140px) {
  .wrapper-text-highlight p:first-child {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 960px) {
  .highlights {
    display: block;
    height: unset;
    padding: 15px 0;
    margin: 5rem auto;
  }

  .highlights ul {
    display: block;
  }

  .highlights li {
    width: 100%;
    box-shadow: 0 1px 0 0 var(--blue);
  }

  .highlights .wrapper-text-highlight {
    top: unset;
    transform: none;
    padding: 25px;
  }
}
