.projects-home {
  position: relative;
  width: 100%;
  height: 1000px;
}

.project-home-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../assets/images/projetos-bg.webp);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.info-project-home {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: #ffffffff;
  z-index: 4;
  padding: 0 25px;
  text-align: center;
  top: 8%;
}

.info-project-home h2 {
  font-family: "Saira Condensed regular";
  font-size: 3rem;
  margin-bottom: 35px;
}

.info-project-home p {
  font-family: "Saira";
  font-size: 1.55rem;
  font-weight: lighter;
}

.see-projects {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 180px;
}

.to-projects {
  width: 350px;
  padding: 25px;
  background: linear-gradient(90deg, var(--blue), var(--blue2));
  color: var(--white);
  font-size: 1.8rem;
  font-family: "Saira";
  font-weight: bold;
  border-radius: 8px;
}

.see-projects::after,
.see-projects::before {
  content: "";
  display: block;
  width: 33.3%;
  height: 1px;
  background-color: #686868;
}

@media screen and (max-width: 722px) {
  .see-projects::after,
  .see-projects::before {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .info-project-home p {
    font-size: 1rem;
  }

  .see-projects {
    margin-top: 100px;
  }
}

@media screen and (max-width: 368px) {
  .to-projects {
    font-size: 1.2rem;
  }
}
