.projects-home {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 1000px;
}

.project-home-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../assets/images/projetos-bg.webp);
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 300px var(--backgroundColor);
}

.info-project-home {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 1250px;
  max-width: 100%;
  color: #ffffffff;
  z-index: 4;
  padding: 0 25px;
  text-align: center;
  margin: 0 auto;
}

.info-project-home h2 {
  font-family: "Arial";
  font-size: 3rem;
  margin-bottom: 35px;
}

.info-project-home p {
  font-family: "Arial Light";
  font-size: 1.25rem;
  font-weight: lighter;
}

.see-projects {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 80px;
}

.to-projects {
  width: 250px;
  padding: 25px;
  background: linear-gradient(90deg, var(--blue), var(--blue2));
  color: var(--white);
  font-size: 1.3rem;
  font-family: "Arial Light";
  font-weight: bold;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.to-projects:hover {
  transform: translateY(-15px);
}

.see-projects::after,
.see-projects::before {
  content: "";
  display: block;
  width: 33.3%;
  height: 1px;
  background-color: #686868;
}

@media screen and (max-width: 722px) {
  .see-projects::after,
  .see-projects::before {
    display: none;
  }
}

@media screen and (max-width: 440px) {
  .info-project-home h2 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .info-project-home p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 368px) {
  .to-projects {
    font-size: 1.2rem;
  }
}
