.services {
  position: relative;
  padding-top: 200px;
}

.service-wrapper {
  width: 1600px;
  max-width: 100%;
  position: relative;
  z-index: 7;
  margin: 0 auto;
}

.service-wrapper img {
  position: relative;
  width: 750px;
  height: 1000px;
  left: -10%;
  object-fit: cover;
  display: flex;
  border-radius: 0 15px 0 0;
}

.service-decoration {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 1850px;
  max-width: 100%;
  height: 550px;
  background: linear-gradient(0deg, var(--dark3), var(--backgroundColor));
  z-index: 6;
  border-radius: 8px;
  box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.404);
}

.services-box {
  position: absolute;
  width: 100%;
  max-width: 100%;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
}

.services-box::after {
  position: relative;
  content: "";
  display: block;
  background-color: #494949;
  width: 70%;
  height: 2px;
  margin-top: 100px;
  margin-left: auto;
}

.services-listed {
  display: grid;
  width: 1000px;
  max-width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  place-items: center;
  gap: 25px;
  margin: 0 auto;
}

.service {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, var(--gray2), var(--gray3));
  font-size: 1.2rem;
  min-height: 100px;
  padding: 10px 60px;
  color: var(--white);
  box-shadow: inset -5px 5px 7px 0px rgba(0, 0, 0, 0.274);
  border-radius: 5px;
  border-right: 45px solid #50DCFF;
}

.title-services {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
  z-index: 7;
  top: 5%;
  color: var(--white);
  margin-bottom: 120px;
}

.title-services::before {
  content: "";
  display: block;
  position: relative;
  width: 80%;
  height: 2px;
  background-color: #494949;
}

.title-services h2 {
  font-size: 2.4em;
}
