.services {
  position: relative;
  padding-top: 200px;
  min-height: 1000px;
  height: 100%;
}

.service-wrapper {
  width: 1600px;
  max-width: 100%;
  position: relative;
  z-index: 7;
  margin: 0 auto;
}

.service-wrapper img {
  position: absolute;
  width: 750px;
  max-width: 100%;
  height: 100%;
  left: -10%;
  object-fit: cover;
  display: flex;
  border-radius: 0 15px 0 0;
}

.service-decoration {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 1850px;
  max-width: 100%;
  height: 500px;
  background: linear-gradient(0deg, var(--dark3), var(--backgroundColor));
  z-index: 6;
  border-radius: 8px;
  box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.404);
}

.services-box {
  position: relative;
  width: 100%;
  max-width: 100%;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
}

.services-box::after {
  position: relative;
  content: "";
  display: block;
  background-color: #494949;
  height: 2px;
  margin-top: 100px;
  margin-left: auto;
  width: 70%;
}

.services-listed {
  display: grid;
  width: 1000px;
  max-width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  place-items: center;
  gap: 25px;
  margin: 0 auto;
  padding: 0 25px;
}

.service {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, var(--gray2), var(--gray3));
  font-size: 1.2rem;
  min-height: 100px;
  padding: 10px 60px;
  color: var(--white);
  box-shadow: inset -5px 5px 7px 0px rgba(0, 0, 0, 0.274);
  border-radius: 5px;
  border-right: 45px solid #50dcff;
}

.title-services {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  z-index: 7;
  top: 5%;
  color: var(--white);
  margin-bottom: 120px;
  padding: 0 25px;
}

.title-services::before {
  content: "";
  display: block;
  position: relative;
  width: 70%;
  height: 2px;
  background-color: #494949;
}

.title-services h2 {
  font-size: 2.4em;
}



@media screen and (max-width: 1050px) {
  .title-services::before {
    width: 50%;
  }
}

@media screen and (max-width: 740px) {
  .services-listed {
    grid-template-columns: 1fr;
  }

  .title-services h2 {
    font-size: 2em;
  }
}

@media screen and (max-width: 640px) {
  .title-services::before {
    display: none;
  }

  .service-wrapper img {
    left: 0;
    border-radius: 0;
  }
}

@media screen and (max-width: 420px) {
  .service {
    font-size: 0.9rem;
    padding: 10px 10px;
    border-right: 15px solid #50dcff;
  }

  .title-services {
    margin-bottom: 30px;
  }
}
