.services {
  position: relative;
  height: 100vh;
  box-shadow: 1px 5px 5px 0 rgba(0, 0, 0, 0.479);
  z-index: 31;
  background-color: var(--backgroundColor);
  overflow: auto;
}

.service-wrapper {
  width: 1400px;
  max-width: 100%;
  position: relative;
  z-index: 7;
  margin: 24rem auto 0 auto;
}

.service-wrapper img {
  position: absolute;
  width: 600px;
  max-width: 100%;
  left: -5%;
  bottom: 15%;
  object-fit: cover;
  display: flex;
  border-radius: 15px;
}

.service-decoration {
  position: absolute;
  top: 10%;
  left: 60%;
  transform: translateX(-60%);
  width: 1150px;
  max-width: 100%;
  height: 500px;
  background: linear-gradient(0deg, var(--dark3), var(--backgroundColor));
  z-index: 6;
  border-radius: 8px;
  box-shadow: 10px 0 10px 0 rgba(0, 0, 0, 0.404);
}

.services-box {
  position: relative;
  width: 100%;
  max-width: 100%;
  left: 50%;
  transform: translate(-50%, -7%);
}

.services-box::after {
  position: relative;
  content: "";
  display: block;
  background-color: #383838;
  height: 1px;
  margin-top: 150px;
  margin-left: auto;
  width: 70%;
  top: 20px;
}

.services-listed {
  display: grid;
  width: 1000px;
  max-width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  place-items: center;
  gap: 25px;
  margin: 0 auto;
  padding: 0 25px;
}

.service {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, var(--gray2), var(--gray3));
  font-size: 1rem;
  min-height: 100px;
  padding: 10px 60px;
  color: var(--white);
  box-shadow: inset -5px 5px 7px 0px rgba(0, 0, 0, 0.274);
  border-radius: 5px;
  border-right: 45px solid #50dcff;
  line-height: 25px;
}

.title-services {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  z-index: 7;
  color: var(--white);
  margin-bottom: 50px;
  padding: 0 25px;
  bottom: 35px;
  text-align: center;
}

.title-services::before {
  content: "";
  display: block;
  position: relative;
  width: 70%;
  height: 1px;
  background-color: #494949;
}

.title-services h2 {
  font-size: 2.1rem;
}

@media screen and (max-width: 1280px) {
  .title-services h2 {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 1050px) {
  .title-services::before {
    display: none;
  }
}

@media screen and (max-width: 950px) {
  .service-wrapper {
    width: 100%;
  }

  .service-wrapper img {
    width: 650px;
    max-width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

  .services .center {
    width: 100%;
    max-width: unset;
  }
}

@media screen and (max-width: 876px) {
  .title-services {
    margin-bottom: 50px;
  }

  .service-decoration {
    display: none;
  }
}

@media screen and (max-width: 740px) {
  .services-listed {
    grid-template-columns: 1fr;
  }

  .title-services h2 {
    font-size: 2em;
  }
}



@media screen and (max-width: 480px) {
  .service {
    font-size: 0.9rem;
    padding: 10px 10px;
    border-right: 15px solid #50dcff;
  }

  .title-services {
    margin-bottom: 30px;
  }
}
