.technologies {
  width: 1350px;
  max-width: 100%;
  margin: 135px auto 0 auto;
}

.tech-box {
  position: relative;
  top: 135px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  flex-wrap: wrap;
  gap: 35px 80px;
  padding: 0 15px;
}

.tech-title {
  text-align: center;
  font-size: 3.5rem;
  color: var(--blue);
  font-family: "Arial Light";
}

.tech {
  width: 150px;
  text-align: center;
}

.tech img {
  width: 100%;
  height: 100%;
}

.excel {
  width: 250px;
}

.sap,
.IA,
.data {
  width: 99px;
}

.IA{
  width: 150px;
}

@media screen and (max-width: 1092px) {
  .tech-box {
    justify-content: center;
    gap: 80px;
  }
}

@media screen and (max-width: 524px) {
  .tech {
    width: 150px;
  }

  .excel {
    width: 150px;
  }

  .tech-title {
    font-size: 2.5rem;
  }

  .data,
  .IA {
    width: 90px;
  }
}
