.technologies {
  margin-top: 135px;
}

.tech-box {
  position: relative;
  top: 56px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
  flex-wrap: wrap;
  gap: 50px;
}

.tech-title {
  text-align: center;
  font-size: 2.6rem;
  color: var(--blue);
  font-family: "Saira Condensed light";
  margin-bottom: 35px;
}

.tech {
  width: 200px;
  text-align: center;
}

.tech:nth-child(3) {
  width: 110px;
}

.tech img {
  width: 100%;
  height: 100%;
}

.tech:last-child {
  border-right: none;
}

@media screen and (max-width: 1092px) {
  .tech-box {
    justify-content: center;
    gap: 80px;
  }
}

@media screen and (max-width: 440px) {
  .tech {
    width: 170px;
  }
}

