.technologies {
  max-width: 100%;
  margin: 0 auto 5rem auto;
}

.tech-box {
  position: relative;
  width: 1450px;
  max-width: 95%;
  margin: 5rem auto 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  z-index: 3;
  flex-wrap: wrap;
  gap: 15px;
  border-radius: 0 8px 8px 8px 0;
}

.tech-title {
  text-align: center;
  font-size: 3.5rem;
  color: var(--blue);
  font-family: "Arial Light";
}

.tech {
  width: 100%;
  height: 120px;
  text-align: center;
  background: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid var(--blue);
  box-shadow: 0 0 5px 2px var(--blue2);
}

.tech img {
  width: 140px;
  height: auto;
}

.data img,
.IA img,
.devops img {
  width: 90px;
}

@media screen and (max-width: 1092px) {
  .tech-box {
    justify-content: center;
  }
}

@media screen and (max-width: 530px) {
  .tech-box {
    width: 100%;
    grid-template-columns: 1fr !important;
  }
}

