#volunteer .center {
  margin-top: 80px;
}

.volunteer-list-wrapper {
  position: relative;
  z-index: 32;
  padding: 0 0 3rem 0;
}

.volunteer .title-page {
  margin-top: 0;
}

.volunteer-title {
  font-size: 2.5rem;
  margin-bottom: 35px;
}

.volunteer-title::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 7px;
  background-color: var(--blue);
  margin-right: 20px;
  border-radius: 4px;
}

.recolocation,
.leader-formation {
  position: relative;
  width: 100%;
  color: var(--white);
}

.recolocation {
  margin-bottom: 100px;
}

.recolocation-list {
  margin-top: 25px;
}

.recolocation-list ul li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
  margin-bottom: 9px;
  font-size: 1.1rem;
}

.recolocation-list ul li span {
  font-family: "Arial Light" !important;
  font-size: 1.2rem;
}

.recolocation-list ul li::before {
  content: "";
  display: block;
  width: 5px;
  height: 1px;
  background-color: var(--blue);
}

.recolocation-box h4 {
  font-size: 1.3rem;
  font-family: "Arial Light";
}

.leader-formation {
  font-size: 1.3rem;
}

.leader-formation p {
  font-family: "Arial Light" !important;
  font-size: 1.2rem;
}

@media screen and (max-width: 1050px) {
  #volunteer .center {
    margin-top: 30px;
  }
}

@media screen and (max-width: 760px) {
  .recolocation {
    margin-bottom: 90px;
  }
}

@media screen and (max-width: 675px) {
  .volunteer-title {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 490px) {
  .volunteer-title::before {
    display: block;
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 405px) {
  .volunteer-title {
    font-size: 1.3rem;
  }

  .recolocation-box h4 {
    font-size: 1rem;
    font-family: "Arial Light";
  }

  .recolocation-list ul li {
    font-size: 0.9rem;
  }

  .leader-formation p {
    font-size: 1rem;
  }
}
