.banner {
  position: relative;
  width: 100%;
  padding-top: 200px;
}

.banner-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../assets/images/banner-bg.webp);
  background-size: cover;
  background-position: center;
}

.banner-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  z-index: 3;
  gap: 35px;
}

.name {
  line-height: 75px;
  margin-bottom: 20px;
}

.name-role {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  color: var(--white);
  font-family: "Saira Condensed light";
  padding: 0 50px;
  gap: 35px;
}

.name-role::after,
.name-role::before {
  content: "";
  display: block;
  position: relative;
  width: 15%;
  max-width: 100%;
  height: 1px;
  background-color: #ffffff34;
}

.name-role span {
  color: var(--blue);
}

.name {
  font-size: 5rem;
}

.role {
  font-size: 2rem;
}

.main-image {
  position: relative;
  position: relative;
  width: 100%;
  text-align: center;
}

.main-image .image {
  position: relative;
  width: 480px;
  height: auto;
  z-index: 4;
  transform: translate(-5%, 1.3%);
}

.decoration-image {
  position: absolute;
  top: 0;
  transform: translate(-105%, 18%);
  width: 480px;
  height: auto;
  z-index: 3;
}

.main-image::after {
  position: absolute;
  content: "";
  display: block;
  width: 1100px;
  max-width: 100%;
  height: 1px;
  background-color: #ffffff34;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 1120px) {
  .name-role::after,
  .name-role::before {
    display: none;
  }

  .name-role {
    justify-content: center;
    padding: 0 10px;
  }
}

@media screen and (max-width: 1050px) {
  .banner {
    padding-top: 100px;
  }
}

@media screen and (max-width: 750px) {
  .name {
    font-size: 4rem;
  }

  .role {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 550px) {
  .decoration-image,
  .main-image .image {
    max-width: 100%;
  }
}
