.banner-cards {
  position: relative;
  width: 1450px;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 15px;
  z-index: 5;
  box-shadow: 0 -50px 30px var(--backgroundColor);
  top: 10px;
}

.card {
  position: relative;
  width: 260px;
  padding: 35px;
  min-height: 250px;
  background-color: var(--dark1);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 15px 24px 14px 0 #00000054;
  cursor: pointer;
  overflow: hidden;
  bottom: 0;
  transform: scale(1);
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05) !important;
  background-color: #3d3d3d;
}

.card-title {
  position: relative;
  display: flex;
  top: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: var(--blue);
  opacity: 1;
  transition: 0.5s;
}

.card-title h2 {
  font-family: "Arial Light";
  font-size: 1.7rem;
}

.card-title img {
  width: 70px;
  height: auto;
}

.card-text {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  position: absolute;
  top: -350px;
  left: 0;
  transform: translateY(0);
  padding: 0 25px;
  text-align: center;
  transition: 0.5s;
  color: var(--white);
  width: 100%;
  height: 100%;
  background-color: var(--blue2);
  border-radius: 8px;
  font-size: 0.9rem;
  overflow: auto;
}

.show-text .card-text {
  opacity: 1;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.show-text .card-title {
  opacity: 0;
  top: 300px;
}

@media screen and (max-width: 609px) {
  .card {
    width: 90%;
  }
}
