.activity-area {
  color: #ffff;
  margin: 0 auto;
  text-align: center;
  background-color: #1c1c1c88;
  padding: 50px;
  margin-top: 150px;
  border-radius: 15px;
  box-shadow: 10px 10px 15px 0 #0000003a;
}

.activity-box {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-template-rows: 1fr 1fr;
  place-items: center;
  gap: 10px;
}

.title-activity {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-bottom: 55px;
}

.title-activity h2 {
  font-family: "Saira Condensed light";
}

.title-activity::after,
.title-activity::before {
  display: block;
  content: "";
  width: 80%;
  height: 1px;
  background-color: #2c2c2c;
}

.sectors {
  grid-row: span 2;
  height: 100%;
  width: 100%;
  text-align: start;
  padding: 0 30px;
  max-height: 1010px;
  overflow: auto;
}

.segments {
  width: 100%;
  height: 500px;
}

.segments h2 {
  margin-left: 65px;
}

.project-types {
  width: 100%;
  height: 100%;
}

.activity-item {
  background-color: #1f1f1f;
  border-radius: 8px;
  text-align: start;
  padding-top: 35px;
}

.activity-item h2 {
  margin-bottom: 35px;
  color: #c2c2c2;
  font-family: "Saira condensed light";
}

.sectors ul li {
  width: 100%;
  text-align: center;
  background-color: #252525;
  margin-top: 10px;
  padding: 15px 5px;
  font-size: 1.4rem;
  color: #C9C9C9;
  font-family: "Saira Condensed light";
}
