.activity-area {
  color: #ffff;
  margin: 0 auto;
  text-align: center;
  background-color: #1c1c1c88;
  padding: 50px 50px 0 50px;
  margin-top: 150px;
  border-radius: 15px;
  box-shadow: 10px 10px 15px 0 #0000003a;
}

.activity-box {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-template-rows: 1fr 0.7fr;
  place-items: center;
  gap: 10px;
}

.activity-item-title {
  position: sticky;
  top: 0;
  background-color: #1f1f1f;
  width: 100%;
  padding: 20px 35px 20px 35px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.219);
  border-bottom: 1px solid var(--blue);
}

.activity-item {
  background-color: #1f1f1f;
  border-radius: 8px;
  text-align: start;
}

.activity-item ul,
.project-types-wrapper {
  padding: 0 35px;
}

.activity-item p:not(.type p, .quantities p, .mobile-segment p) {
  margin-bottom: 35px;
  color: #c2c2c2;
  font-family: "Saira condensed regular";
  font-size: 1.7rem;
}

.title-activity {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-bottom: 55px;
}

.title-activity h2 {
  font-family: "Saira Condensed light";
}

.title-activity::after,
.title-activity::before {
  display: block;
  content: "";
  width: 80%;
  height: 1px;
  background-color: #2c2c2c;
}

.sectors {
  grid-row: span 2;
  place-self: start;
  height: 100%;
  width: 100%;
  text-align: start;
  max-height: 1030px;
  overflow: auto;
}

.segments {
  overflow: auto;
  width: 100%;
  height: 670px;
  max-height: 100%;
}

.mobile-segment {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  margin-bottom: 15px;
  font-size: 1.2rem;
  padding: 0 30px;
}

.segment-name {
  width: 100%;
  background-color: var(--blue);
  padding: 20px;
  text-align: center;
}

.mobile-segment .quantity {
  width: 100%;
  background-color: var(--dark4);
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recharts-responsive-container {
  position: relative;
  right: 35px;
}

.project-types {
  width: 100%;
  height: 100%;
}

.sectors ul li {
  width: 100%;
  text-align: center;
  background-color: #252525;
  margin-top: 10px;
  padding: 15px 5px;
  font-size: 1.4rem;
  color: #c9c9c9;
  font-family: "Saira Condensed light";
}

.project-types {
  place-self: start;
  max-height: 350px;
  overflow: auto;
}

.project-types-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px;
}

.type {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #252525;
  height: 70px;
}

.type .type-name,
.type .quantities {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.type p {
  margin: unset;
  font-size: 1.3rem;
  font-family: "Saira Condensed light";
}

.type .type-name {
  width: 100%;
}

.type .quantities {
  width: 30%;
  background-color: #d9d9d9;
  color: var(--backgroundColor);
}

/* Chrome, Edge and Safari */
.project-types::-webkit-scrollbar,
.sectors::-webkit-scrollbar,
.segments::-webkit-scrollbar {
  width: 1.5px;
  height: 1.5px;
}
.project-types::-webkit-scrollbar-track,
.sectors::-webkit-scrollbar-track,
.segments::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: transparent;
}

.project-types::-webkit-scrollbar-track:active,
.sectors::-webkit-scrollbar-track:active,
.segments::-webkit-scrollbar-track:active {
  background-color: #ffffff;
}

.project-types::-webkit-scrollbar-thumb,
.sectors::-webkit-scrollbar-thumb,
.segments::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #ffffff;
}

.type::-webkit-scrollbar-thumb:active,
.sectors::-webkit-scrollbar-thumb:active,
.segments::-webkit-scrollbar-thumb:active {
  background-color: #ffffff;
}

@media screen and (max-width: 1050px) {
  .title-page {
    margin-top: 300px;
  }
  .activity-box {
    display: block;
  }

  .activity-box .activity-item {
    margin-bottom: 20px;
  }

  .segments {
    height: 600px; /* Reduz a altura para telas menores que 1050px */
  }

  .sectors {
    height: 800px;
  }
}

@media screen and (max-width: 768px) {
  .segments {
    height: 400px; /* Reduz ainda mais a altura para telas menores que 768px */
  }
  .recharts-responsive-container {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 700px) {
  .mobile-segment,
  .project-types-wrapper {
    display: block;
  }

  .type {
    margin-bottom: 15px;
    display: block;
    height: unset;
  }

  .type .quantities {
    width: 100%;
  }

  .type .type-name {
    padding: 15px 0;
  }

  .activity-area {
    padding: 50px 10px;
  }
  
}
