@import url(../projetos-styles/activity.css);
@import url(../projetos-styles/swiperProject.css);

.project-content {
  width: 100%;
  z-index: 29;
}

.project-content-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 100%;
  padding: 15px 5px;
  background-color: #282828;
  margin: 100px 0 100px 0;
  color: #8d8d8d;
  font-size: 1.6rem;
  font-family: "Saira condensed regular";
  border-radius: 4px;
}

.project-content-header span {
  color: var(--blue);
}

.separated-line {
  width: 65px;
  height: 1px;
  background-color: #d9d9d9;
}

.project-h2 {
  width: 300px;
  padding: 10px 0;
  background-color: #4f4f4f;
  color: var(--white);
  box-shadow: 9px 9px 0 0 rgba(0, 0, 0, 0.329);
  text-align: center;
  margin-bottom: 35px;
}

.project-objectives ul {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 25px;
}

.project-objectives ul li {
  width: max-content;
  padding: 25px;
  text-align: center;
  background-color: var(--dark4);
  color: var(--white);
  font-size: 1.15rem;
  border-bottom: 5px solid var(--blue);
}

.project-description {
  margin-top: 130px;
  color: var(--white);
  font-size: 1.1rem;
  font-family: 'Saira condensed light';
}
