@import url(../projetos-styles/activity.css);
@import url(../projetos-styles/swiperProject.css);

.all-projects {
  margin-top: 150px;
}

.all-projects .center {
  position: relative;
  height: 100%;
  margin-top: 65px;
}

.know-titles {
  width: 1450px;
  max-width: 90%;
  margin: 0 auto 40px auto;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.know-titles::after {
  content: "";
  display: block;
  position: relative;
  width: 75%;
  height: 1px;
  background: #494949;
}

.know-titles h2 {
  width: 420px;
  font-size: 1.8rem;
}

.project-content {
  width: 100%;
  z-index: 29;
}

.project-content-header-fixed {
  position: fixed;
  width: 1250px;
  max-width: 95%;
  top: 121px;
  left: 50%;
  transform: translate(-50%, 0) !important;
  opacity: 0;
}

.center-header-fixed {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  font-size: 1.2rem;
  color: var(--white);
  background-color: var(--dark3);
  box-shadow: 0 0px 10px var(--blue);
  border: 1px solid var(--blue);
  border-radius: 0 0 5px 5px;
  padding: 20px 10px !important;
}

.project-content-header {
  width: 100%;
  height: max-content;
  padding: 30px 5px 30px 5px;
  background-color: #282828;
  color: #8d8d8d;
  font-size: 1.3rem;
  font-family: "Arial";
  border-radius: 4px;
  border-bottom: 1px solid var(--blue);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.288);
}

.projects-counter,
.projects-counter-fixed {
  width: 150px;
  text-align: center;
  padding: 10px 0;
  margin: 0 auto 0 auto;
  background-color: var(--blue);
  border-radius: 0 0 5px 5px;
}

.projects-counter p,
.projects-counter-fixed p {
  font-family: "Arial Bold";
  color: var(--gray2);
}

.project-content-header .center {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.project-content-header-fixed span,
.project-content-header span {
  color: var(--blue);
}

.client-project {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.client-project img {
  width: 40px;
  height: auto;
  border-radius: 10px;
}

.separated-line {
  width: 100%;
  height: 1px;
  background-color: rgb(44, 44, 44);
  margin: 80px 0;
}

.project-h2 {
  width: 300px;
  max-width: 100%;
  padding: 15px 0;
  background-color: #4f4f4f;
  color: var(--white);
  box-shadow: 9px 9px 5px 0 rgba(0, 0, 0, 0.329);
  text-align: center;
  margin-bottom: 35px;
  border-radius: 3px;
  font-size: 1.5rem;
}

.project-objectives ul {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  gap: 25px;
}

.project-objectives ul li {
  width: max-content;
  padding: 25px;
  text-align: center;
  background-color: var(--dark4);
  color: var(--white);
  font-size: 1.15rem;
  border-bottom: 5px solid var(--blue);
  border-radius: 3px;
}

.project-description {
  color: var(--white);
  word-spacing: 2px;
}

.project-description p {
  font-family: "Arial Light";
  font-size: 1.1rem;
  font-weight: 200;
  line-height: 30px;
}

.tecnologies-related {
  width: 95%;
  height: 100%;
  background: var(--dark3);
  margin: 100px auto 0 auto;
  padding: 10px 25px 50px 25px;
  box-shadow: 0 -5px 5px 0 rgba(0, 0, 0, 0.301);
  border-radius: 10px 10px 0 0;
}

.tecnologies-related .center p {
  font-family: "Arial Light";
  font-size: 2rem;
  color: var(--white);
}

.tech-related-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 35px;
  margin-top: 35px;
}

.related-tech {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--backgroundColor);
  width: 300px;
  height: 200px;
  box-shadow: inset 10px 10px 5px rgba(0, 0, 0, 0.384);
  padding: 10px 20px;
  border-radius: 10px;
}

.tech-related-wrapper img {
  width: 200px;
  max-width: 90%;
  height: auto;
}

.content {
  background: linear-gradient(360deg, var(--dark2), rgb(16, 19, 20));
}

.without-tech {
  padding: 15px 25px;
  border-radius: 10px;
  font-size: 1.5rem !important;
  background-color: var(--blue3);
  color: var(--dark1) !important;
}

.project-content-wrapper {
  position: relative;
}

@media screen and (max-width: 1142px) {
  .tech-related-wrapper {
    display: block;
  }

  .related-tech {
    width: 100%;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 1140px) {
  .project-content-header {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .separated-line {
    width: 70%;
  }

  .know-titles {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .know-titles h2 {
    width: 100%;
  }

  .know-titles::after {
    display: none;
  }
}

@media screen and (max-width: 1050px) {
  .project-content-header-fixed {
    top: 10%;
  }
}

@media screen and (max-width: 950px) {
  .project-content-header .center {
    flex-direction: column;
  }

  .center-header-fixed {
    flex-direction: column;
    gap: 25px;
  }
}

@media screen and (max-width: 890px) {
  .project-objectives ul {
    display: block;
  }

  .project-objectives ul li {
    width: 100%;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 450px) {
  .tecnologies-related p {
    text-align: center;
  }

  .btn-swiper {
    width: 50px;
    height: 40px;
  }

  .btn-swiper img {
    width: 20px;
    height: 10px;
  }

  .center-header-fixed {
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }

  .project-h2 {
    font-size: 1.2rem;
  }

  .project-objectives ul li {
    font-size: 0.95rem;
  }

  .tecnologies-related .center p {
    font-size: 1.5rem;
  }

  .project-description p {
    font-size: 0.9rem;
  }

  .project-content-header,
  .center-header-fixed {
    font-size: 1rem;
  }
}

@media screen and (max-width: 350px) {
  .project-description p {
    text-align: center;
  }

  .client-project img {
    width: 30px;
  }

  .client-project {
    justify-content: start;
  }

  .project-content-header .center,
  .center-header-fixed {
    align-items: start;
  }
}
