.all-projects {
  height: 350px;
}

.all-projects .center {
  height: 100%;
}

.swiper {
  height: 100%;
  position: sticky;
  top: 0;
}

.swiper-slide {
  text-align: center;
  background-color: rgb(54, 54, 54);
  transition: 0.3s;
}

.swiper-slide img{
  width: 300px;
  height: 250px;
}

.swiper-slide.swiper-slide-active {
  border: 1px solid blue;
}

.swiper-slide:not(.swiper-slide.swiper-slide-active) {

}

