.swiper {
  height: 350px;
  cursor: grabbing;
}

.swiper-wrapper {
  height: unset;
}

.swiper-slide.swiper-slide-active .name-project {
  transition: 0.5s;
  background-color: var(--blue);
  color: var(--white);
}

.swiper-slide.swiper-slide-active {
  transition: 0.5s;
  transform: scale(1);
}

.swiper-slide {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background: linear-gradient(90deg, var(--dark1), var(--dark3));
  border-radius: 5px;
  transition: 0.5s;
  transform: scale(0.9);
  border-radius: 10px;
  transform: scale(0.9);
}

.slider-img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
}

.swiper-slide img {
  width: 70%;
  height: 180px;
}

.name-project {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
  font-size: 1.9rem;
  color: var(--gray1);
  border-radius: 0 0 3px 3px;
  background-color: var(--gray3);
  border-radius: 0 0 10px 10px;
}

.slider-general {
  position: relative;
  top: 35px;
  width: 1450px;
  max-width: 100%;
  margin: 0 auto;
  z-index: 38;
}

.btn-swiper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 70px;
  background-color: #34d6ffa6;
  border-radius: 5px;
  cursor: pointer;
  z-index: 28;
  transition: 0.2s;
  backdrop-filter: blur(4px);
}

.btn-swiper:hover {
  background-color: var(--blue);
}

.next-btn {
  top: 50%;
  transform: translate(-8px, -50%);
  right: 0;
  z-index: 33;
}

.prev-btn {
  top: 50%;
  transform: translate(10px, -50%);
  left: 0;
  z-index: 34;
}

.btn-swiper img {
  width: 30px;
  height: 40px;
}

.prev-btn img {
  transform: rotate(180deg);
}

.fixed-btn {
  position: fixed;
  bottom: 10%;
  right: 0;
  z-index: 30;
}

.btn-swiper {
  outline: none;
  border: none;
}

.hidden-btn:not(.fixed-swiper-buttons.hidden-btn) {
  opacity: 0 !important;
  transition: 0.4s;
  transform: translate(0, -50px);
}

.show-btn:not(.fixed-swiper-buttons.show-btn) {
  opacity: 1 !important;
  transition: 0.4s;
  transform: translate(0, 0);
}

.fixed-swiper-buttons.show-btn {
  opacity: 1 !important;
}

.fixed-swiper-buttons.hidden-btn {
  opacity: 0 !important;
}

.fixed-btn-right {
  right: 1%;
}

.fixed-btn-left {
  left: 1%;
}

.fixed-btn-left img {
  transform: rotate(180deg);
}
