.all-projects .center {
  height: 100%;
}

.swiper {
  height: 350px;
}

.swiper-wrapper {
  height: unset;
}

.swiper-slide.swiper-slide-active {
  transform: scale(0.95) translateY(-10px);
  border: 3px solid var(--white);
  transition: 0.5s;
}

.swiper-slide {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background-color: rgb(54, 54, 54);
  border-radius: 5px;
  box-shadow: 5px 5px 5px 0 black;
  transition: 0.5s;
}

.swiper-slide {
  transform: scale(0.95);
}

.slider-img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
}

.swiper-slide img {
  width: 70%;
  height: 180px;
}

.name-project {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
  background-color: #222222;
  font-size: 1.9rem;
  color: var(--white);
  border-radius: 0 0 5px 5px;
}

.slider-general {
  position: relative;
}

.btn-swiper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 70px;
  background-color: #34d6ffa6;
  border-radius: 5px;
  cursor: pointer;
  z-index: 28;
  transition: 0.2s;
  backdrop-filter: blur(4px);
}

.btn-swiper:hover {
  background-color: var(--blue);
}

.next-btn {
  top: 50%;
  transform: translate(30%, -50%);
  right: 0;
}

.prev-btn {
  top: 50%;
  transform: translate(-30%, -50%);
  left: 0;
}

.btn-swiper img {
  width: 30px;
  height: 40px;
}

.prev-btn img {
  transform: rotate(180deg);
}

@media screen and (max-width: 610px) {
  .prev-btn {
    transform: translate(-5%, -50%);
  }

  .next-btn {
    transform: translate(5%, -50%);
  }
}
