.all-projects .center {
  height: 100%;
}

.swiper {
  height: 350px;
}

.swiper-wrapper {
  height: unset;
}

.swiper-slide.swiper-slide-active {
  transform: scale(0.95) translateY(-10px);
  transition: 0.5s;
}

.swiper-slide.swiper-slide-active .name-project {
  background-color: var(--blue);
  font-size: 2.5rem;
  transition: 0.5s;
}

.swiper-slide {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background-color: rgb(54, 54, 54);
  border-radius: 5px;
  box-shadow: 5px 5px 5px 0 black;
  transition: .5s;
}

.swiper-slide {
  transform: scale(0.95);
}

.slider-img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
}

.swiper-slide img {
  width: 250px;
  height: auto;
}

.name-project {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
  background-color: #222222;
  font-size: 1.5rem;
  color: var(--white);
  border-radius: 0 0 5px 5px;
}

.slider-general {
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 15px;
}

.btn-swiper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 550px;
  height: 70px;
  background-color: var(--blue);
  border-radius: 5px;
  cursor: pointer;
}

.btn-swiper img {
  width: 50px;
  height: 70px;
}

.prev-btn img {
  transform: rotate(180deg);
}
