.all-projects .center {
  position: relative;
  height: 100%;
  margin-top: 65px;
}

.swiper {
  height: 350px;
  cursor: grabbing;
}

.swiper-wrapper {
  height: unset;
}

.swiper-slide.swiper-slide-active .name-project {
  transition: 0.5s;
  background-color: var(--blue);
}

.swiper-slide.swiper-slide-active {
  transition: 0.5s;
  box-shadow: 0 0 5px 3px var(--blue2);
  transform: scale(0.95);
}

.swiper-slide {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background: linear-gradient(90deg, var(--dark1), var(--dark3));
  border-radius: 5px;
  transition: 0.5s;
  transform: scale(0.9);
}

.slider-img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
}

.swiper-slide img {
  width: 70%;
  height: 180px;
}

.name-project {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
  font-size: 1.9rem;
  color: var(--white);
  border-radius: 0 0 3px 3px;
  background-color: var(--blue2);
}

.slider-general {
  position: relative;
  top: 35px;
  width: 100%;
  margin: 0 auto;
  z-index: 38;
}

.btn-swiper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 70px;
  background-color: #34d6ffa6;
  border-radius: 5px;
  cursor: pointer;
  z-index: 28;
  transition: 0.2s;
  backdrop-filter: blur(4px);
}

.btn-swiper:hover {
  background-color: var(--blue);
}

.next-btn {
  top: 50%;
  transform: translate(-10px, -50%);
  right: 0;
  z-index: 33;
}

.prev-btn {
  top: 50%;
  transform: translate(10px, -50%);
  left: 0;
  z-index: 34;
}

.btn-swiper img {
  width: 30px;
  height: 40px;
}

.prev-btn img {
  transform: rotate(180deg);
}

.fixed-btn {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  z-index: 30;
}

.btn-swiper {
  outline: none;
  border: none;
}

.hidden:not(.fixed-swiper-buttons.hidden) {
  opacity: 0;
  transition: 0.2s;
  transform: translateY(-30px);
}

.show:not(.fixed-swiper-buttons.show) {
  opacity: 1;
  transition: 0.2s;
  transform: translateY(0);
}

.fixed-swiper-buttons.show {
  opacity: 1;
}

.fixed-swiper-buttons.hidden {
  opacity: 0;
}

.fixed-btn-right {
  right: 1%;
}

.fixed-btn-left {
  left: 1%;
  transform: rotate(180deg);
}
